.bodyMain{
    width: 100%;
    height: 1700%;
    background: #10aeb5;
}
.bodyMainHeard{
    width: 720px;
    height: 180px;
    background: #eb7350;
    margin:0 auto;
}
.bodyMianConten{
    width: 720px;
    height: 1200px;
    background: #FFFFFF;
    margin:10px auto;
    border-radius:23px;
}